table {
    width: 250px;
    height: 250px;
    padding: 3px;
    border: 1px solid black;
}
.stripy {
    width: 300px;
    border-collapse: collapse;
}
.STD, .STH {
    padding: 3px;
    border: 1px solid black;
}

tr, th{
    padding: 3px;
    border: 1px solid black;
}
/*.STH {*/
     /*background: #b0e0e6;*/
 /*}*/

/* нечетная строка таблицы класса stripy */
/*.stripy tr:nth-child(2n+1){*/
    /*background: #baffaf;*/
/*}*/

/*!* четная строка таблицы класса stripy *!*/
/*.stripy tr:nth-child(2n){*/
    /*background:#efe;*/
/*}*/
